
@font-face {
    font-family: Merriweather;
    src: url(assets/fonts/Merriweather/Merriweather-Regular.ttf);

}

@font-face {
    font-family: Merriweather_Bold;
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);

}
@font-face {
    font-family: Merriweather_Black;
    src: url(assets/fonts/Merriweather/Merriweather-Black.ttf);

}

@font-face {
    font-family: Open_Sans;
    src: url(assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);

}

@font-face {
    font-family: Open_Sans_Bold;
    src: url(assets/fonts/Open_Sans/static/OpenSans-Bold.ttf);

}

body {
    font-family: Merriweather;
    /* background: var(--neutral-white, #FFF); */
    overflow-x: hidden;
}

.animate__animated.animate__slideInRight {
    --animate-duration: 1.5s;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: visible;
    /* overflow-x: hidden;
overflow-y: visible; */

    -webkit-transform: translate3d(0, 0, 0);
}
#monthDropdown #monthDropdown:focus
{
    border: none;
    outline: none;
}
